.item-btn{
  padding: 1%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.51s ease-in-out;
  position:relative;
}

.item-btn:hover{
  padding: 1.2%;
  border-radius: 10px;
  border: none;
  background-color:rgb(54, 54, 54);
  color: white;
  transform: scale(1.2);
  cursor: pointer;
}