.card-bg{
  background-color: rgb(185, 185, 185);
  color: rgb(86, 97, 114);
  transition: 0.5s ease-in-out;
}

.card-bg:hover{
  background-color: rgb(185, 185, 185);
  color: rgb(86, 97, 114);
  transform: scale(1.05);
}


.edit-button{
  position: relative;
  top: 30px;
  z-index: 1;
}